* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #F4F4F4;
  }

.first-section {
    height: 85vh;
    width: 100%;
    /* for all pages */
    display: inline-block;
    background-color: #F4F4F4;
}  

/* !Navigation bar */

header {
    height: 12vh;
    width: 100%;
}
.navbar {
    /* background-color: yellow; */
    /* background-color: #F4F4F4; */
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ! ======  nav left-part | logo  ===== */
#nav-left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0000EE; */
}
#nav-left a img{
    height: 7vh;
    
}

#nav-middle {
    height: 100%;
    width: 40%;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    
}

#nav-middle ul {
    /* background-color: aquamarine; */
    list-style: none;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#nav-middle ul li {
    /* background-color: violet; */
    height: 100%;
    width: 20%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
}

#nav-right {
    height: 100%;
    width: 40%;
    /* background-color: rgb(183, 12, 12); */
    display: flex;
    /* justify-content: space-evenly; */
}

#nav-right #nav-right-1{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-right-1 form {
    display: flex;
    align-items: center;
}
.navbar-search {
    padding: 7px 6px;
    margin: 0 2px;
    border-radius: 4px;
    border: 1px solid #c7baba;
    outline-color: #C95063;
}

.navbar-search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* background-color: yellow; */
}

.navbar-search-btn img {
    width: 38%;
    height: 100%;
    /* background-color: blueviolet; */
    
}

#nav-right ul {
    /* background-color: aquamarine; */
    list-style: none;
    display: flex; 
    width: 40%;
}
#nav-right ul li {
    /* background-color: violet; */
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}



.navbar li a{
    text-decoration: none;
    color: black;
}

.navbar li a:hover{
    
    color:#FC4C68;
    text-decoration: underline;
}


.navbar-btn {
    padding: 7px 14px;
    border-radius: 5px;
    border: 2px solid #C95063;
    background-color: transparent;
    color: #C95063 !important; 
}

.navbar-btn:hover {
    color: #F4F4F4!important;
    text-decoration: none !important;
    background-color: #C95063;
}

/* Navbar ends */

/*! Hero Content start */

.home-content {
    width: 100%;
    padding: 5% 3%;
    display: inline-block;
    /* background-color: grey; */
}

.text-content {
    display: inline-block;
    width: 50%;
    margin-right: 2%;
    vertical-align: top;
    padding-right: 20px;
    /* background-color: white; */
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-content h2 {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.text-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: justify;
    padding-right: 15%;
    /* background-color: white; */
    line-height: 1.20em;
}

.text-content .buttons {
    margin-top: 45px;
}

.text-content .btn {
    background-color:#C95063;
    padding: 15px 30px;
    font-size: 1.1rem;
    margin-right: 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.text-content .btn:hover {
    background-color:#f05d73;
}

.image-content {
    display: inline-block;
    width: 45%;
}

.image-content img {
    width: auto;
    /* background-color: #0000EE; */
    max-width: 100%;
    height: auto;

}

/* .hero-bottom-container {
    text-align: center;
} */

/* Hero Content end */

/* second section start */

.second-section {
    /* background-color: rgba(151, 144, 144, 0.501); */
    margin: 2% 0;
    width: 100%;
    display: inline-block;
}

.second-section-container {
    text-align: center;
    padding: 2%;
}


.heading {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}

.second-section-container hr {
    width: 18%;
    text-align: center;
    margin: 20px auto;
}
.logo-container {
    /* background-color: wheat; */
    display: inline-block;
    margin: 0 1%; 
}


.logo-container img {
    height: 100px; 
    /* vertical-align: middle; */
}

/* second section ends */

/* Third | Recent job section start | job.html */
.recent-job-section {
    width: 100%;
    background-color: #F4F4F4;
}

.recent-job-container {
    text-align: center;
    padding: 20px;
}

.recent-job-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.job-card {
    display: inline-block;
    border: 1px solid #000;
    width: 250px;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}


.job-card img {
    height: 60px;
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.job-title {
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
}

.job-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.job-description {
    padding: 10px 0;
    font-size: 14px;
}

.job-salary {
    font-weight: bold;
    font-size: 14px;
}

.card-button {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border: 1px solid #000;
    background-color: #f8f8f8;
    cursor: pointer;
}

/* Third | Recent job section End */

/* Gallery page start */

.gallery-container {
    text-align: center;
    margin-top: 50px;
}

.gallery-item {
    display: inline-block;
    width: 22%;
    margin: 1%;
    vertical-align: top;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    border-radius: 3px;
}

.gallery-item p {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Gallery page end */

/* about page start */

.about-container {
    width: 100%;
    text-align: center;
    background-color: #F4F4F4;
}

.about-image img{
    object-fit:contain;
    max-width: 100%;
    height: auto;
}

.about-text-container{
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-top: 50px;
}

.about-text-section > h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.about-text-section  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.about-text-section > p{
    line-height: 1.4;
    font-size: 1.1rem;
    text-align: justify;
}



/* about page end */

/*!====== contact us page start ==========*/
.contact-container {
    width: 100%;
    text-align: center;
    background-color: #F4F4F4;
}

.contact-image img{
    object-fit:cover;
    width: 100%;
    height: auto;
}

.contact-text-container{
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-top: 50px;
}

.contact-text-section > h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.contact-text-section  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.contact-text-section > p{
    line-height: 1.4;
    font-size: 1.1rem;
    text-align: justify;
}

/* ? ==== Contact form ==========  */
.contact-form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #000; */
    padding: 20px;
    width: 300px;
    margin: 50px 0;
}

.contact-form h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
}

.contact-form label {
    /* background-color: #000; */
    display: inline-block;
    width: 210px;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input[type="text"],
input[type="email"],
input[type="tel"],
input[type="radio"],
select,
textarea {
    width: 260px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.contact-form select {
    width: 150px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
}

.contact-form input[type="checkbox"] {
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #C95063;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.contact-form input[type="submit"]:hover {
    background-color: #e67182;
}

/* contact us page end */

/* !=========== Inquiries page ========= */

.table-container {
    width: 100%;
    height: fit-content;
    /* background-color: gray; */
}
.table-container h1 {
    text-align: center;
    margin: 1.5vw 0;
    font-size: 2.5vw;
}

.table-container table {
    margin: 1.5vw auto;
    width: 90%;
    background-color: rgb(228, 218, 210);
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.table-container table th {
    text-transform: uppercase;
    text-align: center;
    background-color: #333333;
    padding: 0.7vw;
    color: white;
}
.table-container table th:last-child{
    width: 35%;
}

.table-container table td {
    text-align: center;
    padding: 0.7vw;
    border: 1px solid #333333;
}

/*! ======== Login page ===============  */

.login-section {
    /* background-color: gray; */
    /* position: relative; */
    width: 100%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    
}
.login-form {
    position: relative;
    padding: 20px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}

/* Style for form title */
.login-form h2 {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

/* Style labels with inline-block for alignment */
.login-form .form-label {
    display: inline-block;
    width: 80px;
    margin-bottom: 10px;
}

/* Style for text inputs */
.login-form .form-input {
    width: 260px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the checkbox and label */
.login-form .form-checkbox {
    margin-bottom: 10px;
}
.login-form .checkbox-label {
    font-size: 0.9em;
}

/* Style the submit button */
.login-form .submit-button {
    width: 100%;
    padding: 8px;
    background-color: #C95063;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form .submit-button:hover {
    background-color: #e67182;
}

/*! ========== sign up page  =======*/

.signup-section {
    width: 100%;
    /* background-color: gray; */
    /* padding-left: 35%; */
    padding-top: 10px;
}
.signup-form {
    position: relative;
    /* background-color: green; */
    padding: 20px;
    width: 310px;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
}

/* Style for form title */
.signup-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

/* Style labels with inline-block for alignment */
.signup-form .form-label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    /* background-color: #54545d; */
}

/* Style for text inputs */
.signup-form .form-input {
    width: 260px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the radio buttons and labels */
.signup-form input[type="radio"] {
    margin: 0px 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: auto;
}

/* Style the submit button */
.signup-form .submit-button {
    width: 100%;
    padding: 8px;
    background-color: #C95063;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1em;
}

.signup-form .submit-button:hover {
    background-color: #e67182;
}

/* Style for the login link */
#login-link {
    color: #0000EE;
    /* text-decoration: none; */
    
}

.signup-form .login-link:hover {
    text-decoration: underline;
}

/*! ========= Footer  ==============*/
.footer {
    text-align: center;
    padding: 20px;
    background-color: #edeaea;
    border-top: 1px solid black;
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px 55px;
}

.footer-section h3 {
    padding-bottom: 20px;
}

.footer li {
    list-style-type: none;
    padding: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #000;
}

.footer-section a:hover {
    color: #FC4C68;
    text-decoration: underline;
}

.footer-section p {
    line-height: 1.6;
}
.footer-bottom {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid black;
}
/* Footer Ends */

/*! ========== Error message =========== */

.error-message {
        color: #dc3545;
        font-size: 0.875em;
        margin-top: 0.25rem;
        display: none;
    }
.input-error {
        border-color: #dc3545 !important;
    }


.radio-group {
    margin: 1rem 0;
}

.radio-options {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.radio-options label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Error message styling */
.radio-error {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.5rem;
    display: block;
}

