* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.first-section {
    height: 90vh;
    width: 100%;
    display: inline-block;
    background-color: #F4F4F4;
}  

/* Navigation bar */
.navbar {
    background-color: #F4F4F4;
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
}

.navbar-logo-div {
    display: inline-block;
    vertical-align: middle;
}

.navbar-logo-div a img{
    height: 7vh;
    display: inline-block;
}

.navbar-links {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    display: inline-block;
}

.navbar-links li{
    display: inline-block;
    margin-left: 2%;
    
}

.navbar-links li a{
    text-decoration: none;
    color: black;
}

.navbar-links li a:hover{
    
    color:#FC4C68;
    text-decoration: underline;
}

.navbar-search {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.navbar-search:active {
    background-color: gray;
}

.navbar-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #C95063;
    color: gainsboro !important; 
}

.navbar-btn:hover {
    color: black !important;
    text-decoration: no !important;
    background-color: aliceblue;
}

/* Navbar ends */

/* Hero Content start */
.home-content {
    width: 100%;
    padding: 60px 30px;
    display: inline-block;
}

.text-content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 20px;
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: justify;
}

.text-content .buttons {
    margin-top: 45px;
}

.text-content .btn {
    background-color:#C95063;
    padding: 15px 30px;
    font-size: 1.1rem;
    margin-right: 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.image-content {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-bottom-container {
    text-align: center;
}

/* Hero Content end */

/* second section start */

.second-section {
    margin: 2% 0;
    width: 100%;
    display: inline-block;
}

.second-section-container {
    text-align: center;
    padding: 20px;
}


.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.second-section-container hr {
    width: 18%;
    text-align: center;
    margin: 20px auto;
}
.logo-container {
    display: inline-block;
    margin: 0 15px; 
}


.logo-container img {
    height: 100px; 
    vertical-align: middle;
}

/* second section ends */

/* Third | Recent job section start */
.recent-job-section {
    width: 100%;
    background-color: #f7f1ed;
}

.recent-job-container {
    text-align: center;
    padding: 20px;
}

.recent-job-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.job-card {
    display: inline-block;
    border: 1px solid #000;
    width: 250px;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

/* Logo styling */
.job-card img {
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Job title and level info styling */
.job-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}

.job-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.job-description {
    padding: 10px 0;
    font-size: 14px;
}

.job-salary {
    font-weight: bold;
    font-size: 14px;
}

.apply-button {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border: 1px solid #000;
    background-color: #f8f8f8;
    cursor: pointer;
}

/* Third | Recent job section End */

/* Footer  */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #F4F4F4;
    border-top: 1px solid black;
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px 55px;
}

.footer-section h3 {
    padding-bottom: 20px;
}

.footer li {
    list-style-type: none;
    padding: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #000;
}

.footer-section a:hover {
    color: #FC4C68;
    text-decoration: underline;
}

.footer-section p {
    line-height: 1.6;
}
.footer-bottom {
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid black;
}
/* Footer Ends */